%container {
	max-width: 67.5rem;
	margin: auto;
	padding: 0.5rem 1rem;

	@media screen and (min-width: 768px) {
		padding: 2rem 1.5rem;
	}
}

%button {
	padding: 0.125rem 0.25rem;
	cursor: pointer;
}
