.MainNav {
	$MainNav: &;
	border: 1px solid;
	padding: 1rem 0;

	&__list {
		list-style: none;
		display: flex;
		justify-content: flex-end;
	}

	&__item {
		margin-right: 1rem;
	}

	&__link {
		text-decoration: none;
		color: inherit;

		&--active + #{$MainNav}__underline,
		&:hover + #{$MainNav}__underline {
			transform: scaleX(100%);
		}
	}

	&__underline {
		height: 0.125rem;
		transform: scaleX(0);
		background-color: black;
		transition: transform 0.5s ease-in-out;
	}
}
